.head {
  color: white;
}

.ui.borderless.topmenu {
  background-color: dodgerblue;
  text-align: center;
}

.ui.button {
  color: dodgerblue;
  font-family: "American Typewriter";
  font-size: 18px;
}

.ui.centered.container {
  color: white;
}

.mainPage {
  background-color: dodgerblue;
}

.o {
  display: inline;
}

textarea {
  resize: none;
}

form {
  column-count: 2;
  column-gap: 250px;
}

h1 {
  font-family: "American Typewriter";
  font-size: 50px;
}

.ending {
  float: right;
}
