.head {
  color: white;
}

.ui.borderless.topmenu {
  background-color: dodgerblue;
  text-align: center;
}

.ui.button {
  color: dodgerblue;
  font-family: "American Typewriter";
  font-size: 18px;
}

.ui.centered.container {
  color: white;
}

.mainPage {
  background-color: dodgerblue;
  padding-bottom: 80px;
}

.o {
  display: inline;
}

textarea {
  resize: none;
}

form {
  column-count: 2;
  column-gap: 250px;
}

h1 {
  font-family: "American Typewriter";
  font-size: 50px;
}

.ending, .sent, .geo {
  float: right;
}

textarea, input, select {
  outline: none;
  border: 1px solid dodgerblue;
  border-radius: 8px;
}

textarea:focus, input:focus, select:focus {
  border: 3px solid;
  color: black;
}

body {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}